button{
    display: block;
    margin:0 auto;
    justify-content: center;
}
html, body {
    width:  80%;
    height: 80%;
    margin: 0;
  }
  canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
