button{
    display: block;
    margin:0 auto;
    justify-content: center;
}

body{
    font-size:0;
    margin:0;
}
#channel div{
    width: 20vw;
    height: 20vh;
    display: inline-block;
}
#channel div:nth-child(even){
    background:#fee;
}

#channel div:nth-child(odd){
    background:#dcc;
}
